<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A43341A1EF37D9D00093A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A4334331EF37D9D00093A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A43343E1EF37D9D00093A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
